
header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

nav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #3095c7;
}

nav ul {
  float: left;
}

nav ul a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 18px;
}

nav ul a:hover {
  background-color: rgb(5, 129, 86);
}

body {
    background-color: rgb(247, 240, 149);
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    display: flex;

}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(249, 149, 228);
    color: black;
}

footer p {
    text-align: center;
    color: black;
}